*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BORDER */

/* *{
    border: 1px solid rgb(255, 0, 0);
} */

/* CONTENT */

.content{
    width: 100%;
    height: 400px;
    background-color: blue;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 200px;
    opacity: 0.8;
    height: 200px;
}

.logo-container img{
    width: 100%;
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    background-color: white;
}

.header-list-container{
    display: flex;
}

.header-list{
    list-style-type: none;
    display: flex;
}

.header-list li{
    padding: 15px 10px;
}

.header-list li a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 100%;
}

/* TEXT SETTINGS AND CUSTOMIZATION */

*{
    font-family: 'Open Sans', sans-serif;
}

.text-end{
    text-align: end;
}

.text-center{
    text-align: center;
}

.text-bg-blue{
    padding: 5px 10px;
    background-color: #0061FF;
    color: white;
}

/* CONTAINERS */

.container-fluid{
    width: 100%;
}

.container{
    width: 100%;
}

/* ROW AND FLEXBOX */

.row{
    display: flex;
    margin: 0 auto;
}

.f-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.d-flex{
    display: flex;
}

/* COLUMNS */

.col-100{
    width: calc(100%);
}

.col-60{
    width: calc(60%);
}

.col-50{
    width: calc(50%);
}

.col-40{
    width: calc(40%);
}

.col-33{
    width: calc(33%);
}

.col-4{
    width: calc(100% / 4);
}

.col-30{
    width: calc(30%);
}

.col-20{
    width: calc(20%, -20px);
}

/* WIDTH */

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}

.w-50{
    width: 50%;
}

/* BG-COLORS */

.bg-red{
    background-color: red;
}

.bg-skyblue{
    background: #B4D0E7;
}
