*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BORDER */

/* *{
    border: 1px solid rgb(255, 0, 0);
} */

/* CONTENT */

.content{
    width: 100%;
    height: 400px;
    background-color: blue;
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    background-color: white;
}

.header-list-container{
    display: flex;
}

.header-list{
    list-style-type: none;
    display: flex;
}

.header-list li{
    padding: 15px 10px;
}

.header-list li a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 100%;
}

/* TEXT SETTINGS AND CUSTOMIZATION */

*{
    font-family: 'Open Sans', sans-serif;
}

.text-end{
    text-align: end;
}

.text-center{
    text-align: center;
}

.text-bg-blue{
    padding: 5px 10px;
    background-color: #0061FF;
    color: white;
}

.bold{
    font-weight: bold;
}

.sm-font-size{
    font-size: 14px;
}

.card-p-xl{
    padding: 40px 200px 25px 0px;
}

/* SUBSCRIPTION PLAN CARD */

.card-border{
    border: 1px solid #D2D2D5;
}

.upper-col{
    border-bottom: 0.5px solid #D2D2D5;
}

.bottom-card-header{
    padding: 20px 0px 20px 20px;
}

.bottom-card-body{
    padding: 20px 30px 0px 20px;
}

.month-text{
    opacity: 0.5;
    font-size: 13px;
}

.sub-card-price{
    padding: 10px 0px;
    font-size: 13px;
}

.sub-card-text{
    font-weight: 200;
    font-size: 14px;
    padding: 10px 0px;
}

.card-hr{
    width: 15%;
    color: #D2D2D5;
}

/* SUBSCRIPTION-LIST */

.sub-plan-list{
    list-style-type: none;
    padding-bottom: 15px;
}

.sub-plan-list li{
    padding: 10px 0px; 
    font-size: 14px;
    display: flex;
}

.sub-plan-advantage-list{
    list-style-type: none;
    padding-bottom: 15px;
}

.sub-plan-advantage-list li{
    padding: 10px 0px; 
    font-size: 13px;
    display: flex;
}

/* SUBSCRIPTION LIST ICONS */

.fa-user, .fa-folder, .fa-share-nodes, .fa-check{
    margin-right: 10px;
    margin-top: 3px;
}

.fa-check{
    color: #0061FF;
}

/* TITLE FONT */

.big-title-font{
    padding: 50px 0px;
    font-size: 80px;
    font-weight: bolder;
}

.title-font{
    padding: 50px 0px;
    font-size: 40px;
    font-weight: bolder;
}

.medium-title-font{
    padding: 25px 25px 20px 0px;
    font-size: 25px;
}

/* BUTTONS */

.button-bg-blue{
    padding: 5px 10px;
    background-color: #0061FF;
    border-color: #0061FF;
    color: white;
    border-collapse: collapse;
}

.card-button-xl-position{
    position: absolute;
    top: 20px;
    right: 20px;
}

/* PADDING */

.padding-y-30{
    padding: 30px 0px 30px 0px;
}

.padding-y-20{
    padding: 20px 0px;
}

.padding-top-40{
    padding-top: 40px;
}

.padding-left-25{
    padding-left: 25px;
}

.padding-y-10{
    padding: 10px 0px;
}

.padding-x-10{
    padding-right: 10px;
}


/* MARGIN */

.margin-top{
    margin-top: 50px;
}

/* RADIO */

.radio-box{
    padding: 0px 40px 0px 5px;
}

/* ENTITIES AND ICONS */

.fa-arrow-down{
    padding-top: 100px;
}

/* CONTAINERS */

.container-fluid{
    width: 100%;
}

.container{
    width: 100%;
}

.img-container{
    width: 100%;
}

.logo-main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.logo-container{
    width: 50%;
    height: calc(100vh / 6);
    padding: 70px;
}

.logo-container img{
    width: 100%;
}


.img-container img{
    width: 100%;
}


/* ROW AND FLEXBOX */

.row{
    display: flex;
    margin: 0 auto;
}

.row-padding{
    padding: 50px 0px 0px 0px;
}

.f-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.d-flex{
    display: flex;
}

.p-relative{
    position: relative;
}

/* COLUMNS */

.col-100{
    width: calc(100%);
}

.col-70{
    width: calc(70%);
}

.col-50{
    width: calc(50%);
}

.col-40{
    width: calc(40%);
}

.col-33{
    width: calc(33% - 10px);
}


.col-3{
    width: calc(100% / 3);
}

.col-4{
    width: calc(100% / 4);
}

.col-30{
    width: calc(30%);
}

.col-20{
    width: calc(20%, -20px);
}

/* WIDTH */

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}

.w-50{
    width: 50%;
}

/* BG-COLORS */

.bg-red{
    background-color: red;
}

.bg-skyblue{
    background: #B4D0E7;
}
